{% extends "base.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Выбор сертификатов</strong>
                    <div class='pull-right'>
                        <button class='btn btn-xs btn-default mark_all' onclick='mark_all()'>Выделить всё</button>
                        <button class='btn btn-xs btn-default unmark_all' onclick='unmark_all()'>Снять выделение</button>
                    </div>
                </div>
                <table class="table table-hover table-striped" id="cert_table"  data-id-user="{{ user.IDUser }}" data-user-percent="{{ percent }}">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th class="col-md-4">Клиент</th>
                        <th class="col-md-3">Телефон</th>
                        <th class="col-md-2">Цена</th>
                        <th class="col-md-3">Тип полёта</th>
                    </tr>
                    <tr class="table-loader">
                        <td class="text-center" colspan="6"><img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    Всего к оплате: <strong><span id="total-sum">0</span> рублей</strong><br><br>
                    <label for="payment_method">Способ оплаты:</label>
                    <select id="payment_method" class="form-control">
                    </select>
                    <br>
                    <div>
                        <a class="btn btn-default" href="{{ path("homepage") }}">Отмена</a>
                        <button class="btn btn-primary pull-right" onclick="PayBtnClick()">Оплатить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset("js/modals/YesNoDialog.js") }}"></script>
    <script type="application/javascript" src="{{ asset("js/pay_select.js") }}"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        .certificate-row{
            cursor: pointer;
        }
    </style>
{% endblock %}