{% extends "base.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-9">
            <h1>Информация о пользователе {{ user.getUsername }}</h1>
            {% if user.ID_UserGroup.ID_UserGroup == 3 %}
            <a ...>редактировать</a>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">Общая информация</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <b>Роль в системе:</b> {{ user.getUserGroup.getDisplayName }}
                        </div>
                        <div class="col-md-6">
                            <b>E-mail:</b> {{ user.getEmail }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Дополнительная информация</div>
                <div class="panel-body">
                    <div class="row">
                        {% for param_name, param_value in user_params %}
                            <div class="col-md-6">
                                <b>{{ param_name }}:</b> {{ param_value }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Файлы пользователя</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>&nbsp;Добавить файлы</span>
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            {% if auth_user_group == 3 %}
                    <a class="btn btn-primary btn-lg" href="{{ path("user_edition", {"user_id": user.IDUser}) }}">Редактировать</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/view_user.js") }}" type="application/javascript"></script>
{% endblock %}