{% extends "base.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}

    <div class="row">
        <div class="col-md-9">
            <h1>Информация о пользователе {{ user.getUsername }}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">Общая информация</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <b>Роль в системе:</b> {{ user.getUserGroup.getDisplayName }}
                        </div>
                        <div class="col-md-6">
                            <b>E-mail:</b> {{ user.getEmail }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Дополнительная информация</div>
                <div class="panel-body">
                    <div class="row">
                        {% for param_name, param_value in user_params %}
                            <div class="col-md-6">
                                <b>{{ param_name }}:</b> {{ param_value }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Файлы пользователя</div>
                <div class="panel-body">
                    {% if file_msg is defined %}
                        <div class="bg-info">{{ file_msg }}</div>
                    {% endif %}
                    {% if auth_user_group == 3 %}
                        <form enctype="multipart/form-data" method="post" action="/files/file_set">
                            <div class="form-group">
                                <label for="InputFile">Выбрать загружаемый файл</label>
                                <input type="file" id="InputFile" name="userfile">
                            </div>
                            <div class="form-group">
                                <label for="description">Отображаемое имя файла</label>
                                <textarea id="description" class="form-control" rows="3" name="display_name"></textarea>
                            </div>
                            <div class="form-group">
                                <input id="user_id" type="hidden" name="user_id" value="{{ user.IDUser }}">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>
                    {% endif %}
                    <br>
                    <table class="table table-striped " id="user_files_table" data-user_id="{{ user.IDUser }}" data-group=" {{ auth_user_group }}">
                        <tr class="loader">
                            <td colspan="3" class="text-center">
                                <img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            {% if auth_user_group == 3 %}
                    <a class="btn btn-primary btn-lg" href="{{ path("user_edition", {"user_id": user.IDUser}) }}">Редактировать</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/view_user.js") }}" type="application/javascript"></script>
{% endblock %}