{% extends "base.html.twig" %}

{% block body %}
    {% include "default/navigation.html.twig" %}


    <div class="row">
        <div class="col-md-5 text-center">
            <h3>Сертификат №{{ certificate.getIDSertificate }}</h3>
            <table class="table table-bordered">
                <tr>
                    <td class="col-md-5" align="center" valign="middle">Имя клиента</td>
                    <td class="col-md-7" align="center" valign="middle">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled="disabled" value="{{ certificate.getName }}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">Фамилия клиента</td>
                    <td align="center" valign="middle">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled="disabled" value="{{ certificate.getLastName }}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">Телефон клиента</td>
                    <td align="center" valign="middle">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled="disabled" value="{{ certificate.getPhoneNumber }}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">Тип полёта</td>
                    <td align="center" valign="middle">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled="disabled" value="{% if certificate.getFlightType %}{{ certificate.getFlightType.getName }}{% endif %}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">Назначенное время</td>
                    <td align="center" valign="middle">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled="disabled" value="{{ certificate.getUseTime|date('d.m.Y H:i:s') }}">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-7 text-center">
            <h3>История изменений</h3>
            <table class="table table-bordered table-striped text-center" data-cert_id="{{ certificate.getIDSertificate }}" id="history_table">
                <tr>
                    <th class="col-md-3 text-center">Дата и время</th>
                    <th class="col-md-6 text-center">Статус сертификата</th>
                    <th class="col-md-3 text-center">Пользователь</th>
                </tr>
                <tr id="loader">
                    <td colspan="3">
                        <img src="{{ asset("img/ring-alt.gif") }}" alt="Загрузка" width="40" height="40">
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/cert_history.js") }}" type="application/javascript"></script>
{% endblock %}